@font-face{
    font-family: 'BudmoJiggler-Regular';
    src: url('./fonts/budmo-jiggler.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'Marker Felt';
    src: url('./fonts/MarkerFelt.ttc') format('ttc');
    font-weight: 600;
    font-style: normal;
}
@font-face{
    font-family: 'White Smith';
    src: url('./fonts/White-Smith.otf') format('otf');
    font-weight: 600;
    font-style: normal;
}
.header-bg{
    position : absolute;
    background-image : linear-gradient( rgb(230, 13, 13), rgb(82, 27, 29));
    z-index: -1;
    width : 100%;
    height : 100px; 
    min-width: 800px;
}
.footer-bg{
    position: absolute;
    background-image : linear-gradient(  rgb(82, 27, 29), rgb(230, 13, 13) 100px);
    width : 100%;
    min-width: 800px;
    height: 500px;
}
.logo-cont{
    display : inline;
    bottom : 100px;
}
.logo{
    padding-left: 10px;
    padding-top: 10px;
    position: relative;
    z-index: 2;
}
.nav-bar{
    display : inline;
    position : absolute;
    right: 10px;
    left: 275px;
    top: 63px;
}
.nav-grid > div{
    display : inline;
    grid-row : 1;
}
.nav-grid{
    display : grid;
    grid-template-columns : 3;
    grid-column-gap : 10%;
}
.nav-button{
    display : inline;
    position: relative;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
}
.header-cont{
    position : relative;
}
.footer-cont{
    position: relative;
    bottom: 68px;
    z-index: -5;
}
body{
    margin : 0;
}
#renderCanvas{
    width: 100%;
    height: 65vw;
    min-width: 800px;
    min-height: 520px;
    z-index: 1;
    bottom: 64px;
    position : relative;
    touch-action: none;
}
.home-img{
    position: absolute;
    z-index: 3;
    padding-left: 20px;
    padding-right: 20px;
}
.home-img-cont{
    position: absolute;
    z-index: 2;
    width: 240px;
    overflow: hidden;
}
#home-img-cont-0{
    top: 284px;
    width: 100%;
    min-width: 800px;
    height: 180px;
}
#home-img-cont-1{
    top: 445px;
    height: 246px;
    width: 100%;
    min-width: 800px;
}
#home-img-cont-2{
    top: 686px;
    width: 100%;
    min-width: 800px;
    height: 180px;
}
#home-img-1{
    right: 0px;
}